.wp-core-ui select{
    max-width: 100% !important;
    padding: 0 8px !important;
}
.row{
    margin: 0px !important;
}
.textarea{
    border: 1px solid #a1a1a1;
    height: 400px;
}
@media screen and (max-width: 782px) {
    .textarea{
        height: 200px;
    }
}